# Maven
target/

# IntelliJ IDEA
.idea/
*.iml
out/


# Mac
.DS_Store

# Logs
*.log

# TestNG Reports
test-output/
surefire-reports/

# Allure Reports
allure-results/
allure-report/

# Compiled Files
*.class

# Package Files
*.jar
*.war
*.ear

# Coverage Reports
coverage/
jacoco.exec
site/

# Environment Files
.env

# Temporary Files
*.tmp
*.temp

